[submodule "dataObject"]
	path = dataObject
	url = https://github.com/YannickPerret/Bi_dataObject.git
[submodule "labelDetector"]
	path = labelDetector
	url = https://github.com/YannickPerret/Bi_labelDetector.git
