[submodule "dataObject"]
	path = dataObject
	url = https://github.com/YannickPerret/Bi_dataObject.git
[submodule "labelDetector"]
	path = labelDetector
	url = https://github.com/YannickPerret/Bi_labelDetector.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/CPNV-ES-RIA2/YANNICK
